<div class="my-4 w-full mx-8 m-auto">

  <div class="justify-center">
    <!-- Card -->

    <div id="invoicePrintSection" class="flex justify-center flex-col p-4 sm:p-10 bg-white border-gray-200 rounded-xl dark:bg-gray-800">
      <!-- Grid -->
      <div class="flex justify-between">
        <div>
          <svg class="size-10" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 26V13C1 6.37258 6.37258 1 13 1C19.6274 1 25 6.37258 25 13C25 19.6274 19.6274 25 13 25H12" class="stroke-blue-600 dark:stroke-white" stroke="currentColor" stroke-width="2"/>
            <path d="M5 26V13.16C5 8.65336 8.58172 5 13 5C17.4183 5 21 8.65336 21 13.16C21 17.6666 17.4183 21.32 13 21.32H12" class="stroke-blue-600 dark:stroke-white" stroke="currentColor" stroke-width="2"/>
            <circle cx="13" cy="13.0214" r="5" fill="currentColor" class="fill-blue-600 dark:fill-white"/>
          </svg>
          <h1 class="mt-2 text-lg md:text-xl font-semibold text-blue-600 dark:text-white">{{ business?.commercialName }}</h1>
        </div>
        <!-- Col -->
        <div class="text-end">
          <h2 class="text-2xl md:text-3xl font-semibold text-gray-800 dark:text-gray-200">Invoice N°:</h2>
          <span class="mt-1 block text-gray-500">1000{{ invoice?.id }}</span>
          <address class="mt-4 not-italic text-gray-800 dark:text-gray-200">
            {{ business?.companyStreet }}<br>
            {{ business?.companyCity }}<br>
            {{ business?.companyPostalCode }}<br>
            Tunisia<br>
          </address>
        </div>
        <!-- Col -->
      </div>
      <!-- End Grid -->

      <!-- Grid -->
      <div class="mt-8 grid sm:grid-cols-2 gap-3">
        <div>
          <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-200">Bill to:</h3>
          <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-200">{{ invoice?.beneficiary }}</h3>
          <div class="mt-2 not-italic text-gray-500">
            {{ invoice?.taxIdentificationNumber }}<br>
            {{ invoice?.email }}<br>
            {{ invoice?.phoneNumber }}<br>
            Tunisia<br>
          </div>
        </div>
        <!-- Col -->
        <div class="sm:text-end space-y-2">
          <!-- Grid -->
          <div class="grid grid-cols-2 sm:grid-cols-1 gap-3 sm:gap-2">
            <dl class="grid sm:grid-cols-5 gap-x-3">
              <dt class="col-span-3 font-semibold text-gray-800 dark:text-gray-200">Invoice date:</dt>
              <dd class="col-span-2 text-gray-500">{{ invoice?.createdAt | date }}</dd>
            </dl>
          </div>
          <!-- End Grid -->
        </div>
        <!-- Col -->
      </div>
      <!-- End Grid -->

      <!-- Table -->
      <div class="mt-6">
        <div class="border border-gray-200 p-4 rounded-lg space-y-4 dark:border-gray-700">
          <table class="min-w-full">
            <thead class="border-b">
            <tr>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Reference</th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Item</th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">QTY</th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Unit price</th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr class="border-b" *ngFor="let product of invoice?.choosedProductsDTO">

              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"><a [routerLink]="'/products/' + product?.id">
                <p>100{{product?.id}}</p></a></td>
              <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">{{ product?.productName}}</td>
              <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">1</td>
              <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">{{ product?.price }}</td>
              <td class="text-sm text-gray-900 px-6 py-4 whitespace-nowrap">{{ product?.price * 2 }}</td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
      <!-- End Table -->

      <!-- Flex -->
      <div class="flex justify-between">
          <div class="mt-4 space-y-2">
            <dl class="grid sm:grid-cols-5 gap-x-3">
              <dt class="col-span-3 font-semibold text-gray-800 dark:text-gray-200">TVA:</dt>
              <dd class="col-span-2 text-gray-500">{{ invoice?.tva }}%</dd>
            </dl>
            <dl class="grid sm:grid-cols-5 gap-x-3">
              <dt class="col-span-3 font-semibold text-gray-800 dark:text-gray-200">TVA Amount:</dt>
              <dd class="col-span-2 text-gray-500">{{ calculateTotal() * (invoice?.tva || 0) / 100 }} DT</dd>
            </dl>
            <dl class="grid sm:grid-cols-5 gap-x-3">
              <dt class="col-span-3 font-semibold text-gray-800 dark:text-gray-200">Timbre Fiscale:</dt>
              <dd class="col-span-2 text-gray-500">{{ invoice?.timbre }} DT</dd>
            </dl>
            <dl class="grid sm:grid-cols-5 gap-x-3">
              <dt class="col-span-3 font-semibold text-gray-800 dark:text-gray-200">Total Tax:</dt>
              <dd class="col-span-2 text-gray-500">{{ calculateTotalTax()}} DT</dd>
            </dl>
          </div>
      <div class="mt-4 flex sm:justify-end">
        <div class="w-full max-w-2xl sm:text-end space-y-2">
          <!-- Grid -->
          <div class="grid grid-cols-2 sm:grid-cols-1 gap-3 sm:gap-2">
            <dl class="grid sm:grid-cols-5 gap-x-3">
              <dt class="col-span-3 font-semibold text-gray-800 dark:text-gray-200">Total:</dt>
              <dd class="col-span-2 text-gray-500">{{ calculateTotal() }} DT</dd>
            </dl>

            <dl class="grid sm:grid-cols-5 gap-x-3">
              <dt class="col-span-3 font-semibold text-gray-800 dark:text-gray-200">Discount:</dt>
              <dd class="col-span-2 text-gray-500">{{invoice?.discount}}% </dd>
            </dl>
            <dl class="grid sm:grid-cols-5 gap-x-3">
              <dt class="col-span-3 font-semibold text-gray-800 dark:text-gray-200">Total HT:</dt>
              <dd class="col-span-2 text-gray-500">{{calculateDiscountedTotal()}}DT</dd>
            </dl>
            <dl class="grid sm:grid-cols-5 gap-x-3">
              <dt class="col-span-3 font-semibold text-gray-800 dark:text-gray-200">Total TTC:</dt>
              <dd class="col-span-2 text-gray-500">{{calculateTotalAmount()}}DT</dd>
            </dl>

          </div>
          <!-- End Grid -->
        </div>
      </div>
      </div>

      <!-- End Flex -->

      <div class="mt-8 sm:mt-12">
        <h4 class="text-lg font-semibold text-gray-800 dark:text-gray-200">Thank you!</h4>
        <p class="text-gray-500">If you have any questions concerning this invoice, use the following contact information:</p>
        <div class="mt-2">
          <p class="block text-sm font-medium text-gray-800 dark:text-gray-200">{{ business?.companyPhone }}</p>
          <p class="block text-sm font-medium text-gray-800 dark:text-gray-200">{{ business?.companyEmail }}</p>
        </div>
      </div>
      <div class="">
        <p class="mt-4">© 2024 Empowered By Windy Bank</p>
      </div>
    </div>
    <!-- End Card -->

    <!-- Buttons -->
    <div class="mt-6 flex justify-end gap-x-3">
      <button class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-lg border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-gray-800 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800" (click)="onPrint()">
        <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/>
          <polyline points="7 10 12 15 17 10"/>
          <line x1="12" x2="12" y1="15" y2="3"/>
        </svg>
        Print
      </button>
      <a class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="/invoice" download="invoice.pdf">
        <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="6 9 6 2 18 2 18 9"/>
          <path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"/>
          <rect width="12" height="8" x="6" y="14"/>
        </svg>
        Invoice PDF
      </a>
    </div>
    <!-- End Buttons -->
  </div>
</div>
