

<footer class="bg-white border-gray-200 ">
<div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
        <div class="mb-6 md:mb-0">

            <button routerLink="/home"> <img src="assets/images/logo_gris.png" class="h-12  "></button>

        </div>
        <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
            <div>

                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                        <a href="/personal" class="hover:underline text-black">Personal</a>
                    </li>
                    <li class="mb-4">
                        <a href="/professional" class="hover:underline text-black">Professional</a>
                    </li>
                    <li class="mb-4">
                        <a href="/business" class="hover:underline text-black">Business</a>
                    </li>
                </ul>
            </div>
            <div>

                <ul class="text-black-500 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                        <a href="/about" class="hover:underline text-black">About Us</a>
                    </li  >
                    <li class="mb-4">
                        <a href="#" class="hover:underline text-black">Support</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline text-black">News</a>
                    </li>
                </ul>
            </div>
            <div>

                <ul class="text-black-500 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                        <a href="#" class="hover:underline text-black">Privacy Policy</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline text-black">Terms &amp; Conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024, <a href="/home" class="hover:underline">Windy Bank</a>. All Rights Reserved.
        </span>

    </div>
  </div>
</footer>
