<div class="flex gap-20 mt-28 m-auto justify-center">
  <button  class="black rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300">
    <a class="text-lg font-semibold text-gray-800" routerLink="/personaltab">Create a Personal Account</a>
  </button>
  <button class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300">
    <a class="text-lg font-semibold text-gray-800" routerLink="/professionaltab">Create a Personal Account</a>
  </button>
  <button class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300">
    <a class="text-lg font-semibold text-gray-800" routerLink="/businesstab">Create a Personal Account</a>
  </button>
</div>
