<div class=" mb-12 justify-center">
<app-navbar></app-navbar>
</div>
<div class="flex gap-20 mb-12 mt-28 m-auto justify-center">
  <button class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300">
    <a class="text-lg font-semibold text-gray-800" routerLink="/personaltab">Create a Personal Account</a>
  </button>
  <button class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300">
    <a class="text-lg font-semibold text-gray-800" routerLink="/professionaltab">Create a Professional Account</a>
  </button>
  <button class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300">
    <a class="text-lg font-semibold text-gray-800" routerLink="/businesstab">Create a Business Account</a>
  </button>
</div>

<app-personal-form></app-personal-form>
