<div class="bg-gradient-to-br from-blue-400 to-purple-600 min-h-screen flex justify-center items-center">
  <div class="container max-w-lg w-full bg-white p-8 rounded-lg shadow-md">
    <div class="title text-2xl font-semibold mb-4 relative">Registration
      <div class="absolute bottom-0 left-0 h-1 w-20 bg-gradient-to-r from-blue-400 to-purple-600 rounded"></div>
    </div>
    <div class="content">
      <form [formGroup]="formRegister" (ngSubmit)="handleRegister()">
        <div class="user-details ">
          <div data-te-input-wrapper-init class="input-box">
            <span class="details">First Name:</span>
            <input
              type="text"
              placeholder="Entre First Name"
              formControlName="firstName"
            />
          </div>
          <div data-te-input-wrapper-init class="input-box">
            <span class="details">Last Name</span>
            <input
              type="text"
              placeholder="Entre Last Name"
              formControlName="lastName"
            />
          </div>
          <div data-te-input-wrapper-init class="input-box">
            <span class="details">Email</span>
            <input
              type="Entre email"
              formControlName="email"
              placeholder="Enter your Email"
            />
          </div>
          <div data-te-input-wrapper-init class="input-box">
            <span class="details">Phone Number</span>
            <input
              type="text"
              placeholder="Enter your number"
              formControlName="telephone"
            />
          </div>
          <div data-te-input-wrapper-init class="input-box">
            <span class="details">Password</span>
            <input
              type="password"
              placeholder="Entre your Password"
              formControlName="password"
            />
          </div>
          <div data-te-input-wrapper-init class="input-box">
            <span class="details">Confirm Password</span>
            <input
              type="password"
              placeholder="Confirm Your Password"
              formControlName="confirm"
            />
          </div>
          <div class="input-box">
            <span class="details">Date of Birth:</span>
            <input
              type="date"
              formControlName="birthDay"
            />
          </div>
          <div data-te-input-wrapper-init class="input-box">
            <span class="details">Country of Birth:</span>
            <input
              type="text"
              placeholder="Entre your Country of Birth:"
              formControlName="countryOfBirth"
            />
          </div>
          <div data-te-input-wrapper-init class="input-box">
            <span class="details">Street:</span>
            <input
              type="text"
              placeholder="Entre your Street:"
              formControlName="street"
            />
          </div>
          <div data-te-input-wrapper-init class="input-box">
            <span class="details">City:</span>
            <input
              type="text"
              placeholder="Entre your City"
              formControlName="city"
            />
          </div>
          <div data-te-input-wrapper-init class="input-box">
            <span class="details">Zip Code:</span>
            <input
              type="number"
              placeholder="Entre yourZip Code"
              formControlName="zipCode"
            />
          </div>
          <div data-te-input-wrapper-init class="input-box">
            <span class="details">Country of Residence:</span>
            <input
              type="text"
              placeholder="Entre your Country of Residence:"
              formControlName="countryOfResidence"
            />
          </div>
          <div data-te-input-wrapper-init class="input-box">
            <span class="details">Nationality:</span>
            <input
              type="text"
              placeholder="Entre yourEntre your Nationality"
              formControlName="nationality"
            />
          </div>
        </div>
        <div class="button w-100">
          <button
            class="w-full h-8 rounded bg-gradient-to-r from-blue-400 to-purple-600 text-white font-semibold cursor-pointer transition duration-300 hover:from-purple-600">
            Sign Up
          </button>
        </div>
      </form>
    </div>
  </div>

</div>
