
[x-cloak] {
  display: none;
}

@media print {
  .no-printme  {
    display: none;
  }
  .printme  {
    display: block;
  }
  body {
    line-height: 1.2;
  }
}

@page {
  size: A4 portrait;
  counter-increment: page;
}

